.navbar__item {
    padding: 8px;
    margin-left: 12px;
    border-bottom: 2px solid #333;
}

.navbar__item a {
    display: inline-block;
    text-decoration: none;
    font-weight: var(--font-bold);
    padding: 3px 0;
}

.navbar__item a:hover,
.navbar__item a:active {
    text-decoration: none;
    color: var(--color-text-hover);
    border-bottom: 3px solid var(--color-text-hover);
}

/*.navbar__item--active {*/
/*    background-color: var(--mephiston-red);*/
/*    border-radius: 5px;*/
/*}*/

@media (min-width: 46rem) {

    .navbar__item {
        margin:0 14px;
        border-bottom: none;
    }
    
    .navbar__item a {
        color: var(--color-text-reverse);
        font-size: var(--text-md);
    }
}