.list-item{
    padding: 1rem 0;
}

.list-item > p{
    display: inline;
}

.list-item::before{
    content: "•";
    display: inline;
    margin-right: .5rem;
    color: var(--imperial-yellow);
}

@media (min-width: 48rem){
    .list-item{
        padding: 1.5rem 0;
    }
}