.related-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.related-article:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px var(--imperial-yellow);
}


.related-article__img{
    object-fit: cover;
    width: 100%;
    height: 10rem;
}

