.about-header{
    padding-top: 10rem;
    padding-bottom: 5rem
}

.about-header__heading{
    text-wrap: balance;
    font-size: var(--text-8xl);
    line-height: 5rem;
}

.about-header__paragraph{
    text-wrap: pretty;
    margin-top: 2rem;
    max-width: 50ch;
}


@media (min-width: 48rem){
    .about-header{
        padding-top: 22rem;
        padding-bottom: 11rem
    }
}