
.about-me-heading{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.about-me-heading__heading-text{

    font-size: var(--text-fluid-xl);
    max-width: 75%;
}

.highlighted{
    color: var(--imperial-yellow);
}

.about-me-heading__img{
    border-radius: 10px
}