.project-details-header{
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
}

.project-details-header__image{
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:10%
}

@media (min-width: 48rem) {
    .project-details-header{
        height: 100vh;
    }
}