.main-content {
    min-height: 100vh;
    background-color: black;
    color: white;
    display: grid;
}

.main-content__primary,
.main-content__sidebar {
    font-size: var(--text-md);
}


@media (min-width: 46rem) {
    .main-content {
        gap: 5rem;
        grid-template-columns: 2fr 1fr;
    }
}