.article-grid{
    display: grid;
    grid-template-columns:
            1fr
            min(var(--max-article-width), calc(100% - (var(--viewport-padding) * 2)))
            1fr;
    padding-inline: var(--viewport-padding) / 2;
}

.article-grid  > *{
    grid-column: 2;
}

.full-bleed {
    grid-column: 1/-1;
}


@media (min-width: 66rem) {
    .article-grid--with-toc{
        grid-template-columns: 0 42rem 1fr 0;
        padding-inline: var(--viewport-padding);
    }
}

@media (min-width: 68rem) {
    .article-grid--with-toc{
        grid-template-columns: 1fr 42rem 21rem 1fr
    }
}

