.before-after-card__heading{
    font-weight: var(--font-bold);
}

.before-after-card__before,
.before-after-card__after{
    text-transform: uppercase;
    font-size: var(--text-xs);
}

.before-after-card__before-text,
.before-after-card__after-text{
    font-size: var(--text-base);
}

.before-after-card__before{
    color:var(--text-primary-darker);
}

.before-after-card__after{
    color: var(--imperial-yellow);
}

.before-after-card__divider{
    border-bottom: 1px solid var(--more-black);
}