.header {
    background: linear-gradient(to bottom, transparent 70%, black 100%),
    url("../../../public/IF_background.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 55vh;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}

@media (min-width: 46rem){
    
    .header{
        background-position: top;
    }
}

