.next-project{
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid var(--more-black);
}

.next-project__next-project{
    font-size: var(--text-xs);
    text-transform: uppercase;
}

.next-project__heading{
    font-size: var(--text-3xl)
}

.next-project__url{
    border: 1px solid var(--more-black);
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    text-transform: uppercase;
    font-size: var(--text-sm);
    transition: border-color ease-in-out .35s;
}

.url-arrow {
    margin-left: 0.5rem;
    transition: transform 0.25s cubic-bezier(.4, 0, .2, 1);
    display: inline-block;
}

.next-project__url:hover{
    border-color: var(--text-primary-darker);
}

.next-project__url:hover .url-arrow{
    transform: translateX(3px);
}

