.navbar__menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background: black;
    border-radius: 5px;
    height: 93vh;
    color: var(--color-text-reverse);
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.navbar__menu--open {
    display: flex;
}

.navbar__items{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu__marine {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
}


@media (min-width: 46rem) {
    .navbar__menu {
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        background: none;
        height: initial;
        box-shadow: none;
        margin-top: 0;
        margin-right: 8px;
        width: auto;
    }

    .navbar__items{
        flex-direction: row;
    }

    .menu__marine{
        display: none;
    }
}