.signup-form{
    padding:1rem;
}

.signup-title{
    text-align: center;
    font-size: var(--text-2xl);
    color:red;
}

.signup-form label {
    font-weight: var(--font-bold);
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    width: 100%;
    margin-top:0.5rem;
    vertical-align: middle;
}

.signup-form input:not([type="checkbox"]),
.signup-form select:not([type="checkbox"]){
    border: 2px solid gray
}

.signup-form input[type="checkbox"]{
    display: inline-block;
    margin-left:0;
    border: 1px solid gray;
    background: lightgreen;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
}

.signup-form input[type="checkbox"]:checked{
    background: green;
    border: 2px solid green;
}

.signup-form button[type="submit"]{
    display: block;
    margin-top: 1rem;
}

.signup-form label[for='agree-terms']{
    display: inline-block;
    width: auto;
}

@media (min-width: 46rem) {
    .signup-form{
        margin:auto;
        width: 25rem;
        font-size: var(--text-md);
    }
}